<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body style="color: #666666; font-size: small;">
<div style="display: none;" id="print">
    <div class="layui-fluid">
        <form class="layui-form">
            <div class="layui-row" style="padding-top: 10px">
                <div class="layui-col-md9">
                    <!--<span style="padding-top: 10px; font-size: 20px; color: black;">中国地图</span>-->
                    <!--<div id="printImg" style="border: 2px solid black; padding: 15px 15px; margin-top: 10px;"></div>-->
                    <!--<span id="scaleSpan" style="padding-top: 10px"></span>-->
                    <!--<img id="printImg" style="width: 700px; height: 500px;"/>-->
                    <div id="snapshot"></div>
                </div>

                <div class="layui-col-md3">
                    <OBJECT ID='WebBrowser' NAME="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID='CLSID:8856F961-340A-11D0-A96B-00C04FD705A2'></OBJECT>
                    <div class="layui-form-item">
                        <label class="layui-form-label">长</label>
                        <div class="layui-input-inline">
                            <input type="text"
                                   name="name"
                                   required
                                   lay-verify="required"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                        <label class="layui-form-label">宽</label>
                        <div class="layui-input-inline">
                            <input type="text"
                                   name="width"
                                   required
                                   lay-verify="required"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="print" style="border-radius: 5px">打印</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>

</body>
</html>