<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<body style="color: #666666; font-size: small;">
<div style="display: none;" id="print">
    <div class="layui-fluid">
        <form class="layui-form">
            <div class="layui-row" style="padding-top: 10px">
                <div class="layui-col-md9">
                    <div id="snapshot" style="border: 1px solid red; padding: 10px 30px">
                        <span style="margin-top: -10px; font-weight: bold">标题</span>
                        <div id="printImg" style="padding: 10px 0"></div>
                        <span id="scaleSpan" style="padding-top: 10px"></span>
                    </div>
                </div>

                <div class="layui-col-md3">
                    <OBJECT ID='WebBrowser' NAME="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID='CLSID:8856F961-340A-11D0-A96B-00C04FD705A2'></OBJECT>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="print" style="border-radius: 5px">打印</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>

</body>
</html>