<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/leaflet/leaflet.css" />
    <!--<link rel="stylesheet" href="lib/leaflet/print/leaflet.print.css" />-->
    <link rel="stylesheet" href="lib/layui-v2.5.7/layui/css/layui.css" />
    <link rel="stylesheet" href="lib/leaflet/button/easy-button.css" />

    <style>
        #map {
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map">

    </div>
    <!--<button class="manualButton" onclick="manualPrint()">Manual print</button>-->

    <!--弹出层-->
    <div th:replace="print/print :: html"></div>
</body>

<script src="lib/leaflet/leaflet.js"></script>
<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />-->
<!--<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>-->
<script src="lib/leaflet/Leaflet.VectorGrid.min.js"></script>
<script src="lib/leaflet/leaflet.ChineseTmsProviders.js"></script>
<script src="lib/layui-v2.5.7/layui/layui.js"></script>
<!--<script src="lib/leaflet/easyPrint/bundle.js"></script>-->
<script src="lib/leaflet/leaflet-image.js"></script>
<!--<script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.js"></script>-->
<script src="lib/jquery-v3.5.1/jquery-3.5.1.min.js"></script>
<!--jqprint-->
<script src="lib/print/jquery.jqprint-0.3.js"></script>
<script src="http://www.jq22.com/jquery/jquery-migrate-1.2.1.min.js"></script>

<!--<script src="lib/leaflet/print/leaflet.print.js"></script>-->
<script src="lib/leaflet/button/easy-button.js"></script>
<script src="js/index.js"></script>
</html>