<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/leaflet/leaflet.css" />

    <style>
        #map {
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map">

    </div>
</body>

<script src="lib/leaflet/leaflet.js"></script>
<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />-->
<!--<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>-->
<script src="lib/leaflet/Leaflet.VectorGrid.min.js"></script>
<script src="lib/leaflet/leaflet.ChineseTmsProviders.js"></script>
<!--<script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.js"></script>-->
<script src="lib/jquery-v3.5.1/jquery-3.5.1.min.js"></script>
<script src="js/index.js"></script>
</html>